[tool.commitizen]
name = "cz_conventional_commits"
version = "1.0.0"
tag_format = "v$version"
update_changelog_on_bump = true
changelog_file = "CHANGELOG.md"
version_files = [
  ".cz.toml:version",
  "metadata.yaml:version",
  "main.py:version=\"$version\"",
]
